body{
	background-image: url(images.jpg);
	font-family: arial;
	margin:auto;
}

.judul{
	background-image: url(pisang.gif);
	width: 100%;
	height: 400px;
	margin: auto;
	text-align: center;
	position: relative;
	 }

.daftar{
	background-image: url(pisang.gif);
	width: 300px;
	float: left;
	margin-top: -20px;
	margin-left: 40px;
	position: relative;
	display: inline-block;

}

.daftar ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
}

.daftar li a {
    display: block;
    border: 1px solid #eaeaea;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.daftar li a:hover {
    background-color: #555;
    color: white;
}

.lagu{
	background-color:#ff3385;
	width: 500px;
	height: 550px;
	background-size: cover;
	overflow: auto;
	float: right;
	position: relative;
	display: inline-block;
	text-align: center;
}
 
 .kotak{
 	background-image: url(pisang.gif);
 	overflow: auto;
 	width: 64%;
 	margin: auto;
 }